<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYHrNk7WINZRQPFh1ucgsQW99IE_CAFuA</string>
	<key>GCM_SENDER_ID</key>
	<string>1007767723526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productListingAppPrj</string>
	<key>PROJECT_ID</key>
	<string>productlistingappprj</string>
	<key>STORAGE_BUCKET</key>
	<string>productlistingappprj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007767723526:ios:5efa086d705ddad8156d87</string>
</dict>
</plist>